.error-msg {
  justify-content: space-around !important;
  align-items: center;
  border: red;
  border-style: solid;
  margin: 0.5em 0.5em 1em 0.5em;
  height: 3em;
  background-color: rgba(255, 0, 0, 0.1);
}